.no-items {
  .title {
    font-size: 28px;
    color: #9e9e9e;
  }
  .subtitle {
    font-size: 17px;
    color: #757575;
  }
  .add-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 4px;
  }
}