.grid-list {
  min-height: 120px;
  
  .item {
    display: inline-block;
    width: 96px;
    height: 120px;
    margin: 8px;
    padding: 18px;
    border-radius: 3px;
    vertical-align: top;

    &:hover {
      background: rgba(20, 20, 20, 0.05);
    }
  }

  .grid-img {
    width: 80px;
    display: block;
    margin: 0 auto;
    height: 96px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grid-label {
    text-align: center;
    margin: 8px 0 0 0;
    font-size: 15px;
    color: #616161;
    font-weight: 400;

    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}