.movie-info {
  .hero {
    height: 240px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

    .title {
      position: absolute;
      bottom: 24px;
      margin: 0;
      left: 36px;
      font-weight: 400;
      font-size: 28px;
    }
  }
}