.movie-info {
  .hero {
    height: 240px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    .background-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: center;

      &.blurred {
        background-size: cover;
        $radius: 4px;
        $inset: $radius * 2;
        
        left: -$inset;
        top: -$inset;
        right: -$inset;
        bottom: -$inset;
        filter: brightness(80%) blur($radius);
      }

      &.contain {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &.has-picture {
      .gradient {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, transparent 25%, rgba(20, 20, 20, 0.5) 80%);
      }

      .title {
        color: rgba(250, 250, 250, 0.9);
        font-weight: 300;
      }
    }

    .title {
      position: absolute;
      bottom: 24px;
      margin: 0;
      z-index: 2;
      left: 36px;
      font-weight: 400;
      font-size: 28px;
    }
  }

  /* Info grid */
  .specs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    box-sizing: border-box;
    padding: 0 24px;
    margin: 18px 0;

    white-space: nowrap;

    .icon {
      width: 18px;
      height: 18px;
      position: relative;
      top: 4px;
    }
  }
}

@media (max-width: 680px) {
  .movie-info {
    .specs {
      grid-template-columns: 1fr 1fr;
    }
  }
}


@media (max-width: 480px) {
  .movie-info {
    .specs {
      grid-template-columns: 1fr;
    }
  }
}