.actor-info {
  $img-size: 180px;

  /* Personal info */
  .info {
    text-align: center;
  }

  .profile-picture {
    width: $img-size;
    height: $img-size;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 50%;
    
    &.pictureless {
      background: #e0e0e0;
      position: relative;

      p {
        font-size: 36px;
        font-weight: 300;
        color: #616161;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        width: 100%;
      }
    }
  }

  .name {
    font-size: 28px;
    font-weight: 200;
    margin: 12px 0 18px 0;
  }
}